@media screen and (min-width: 0px) and (max-width: 750px) {
  header nav a {
    flex-basis: 100%; }
  .col-sm-1 {
    flex-basis: calc(100% / 12 * 1 - 0rem); }
  .col-sm-2 {
    flex-basis: calc(100% / 12 * 2 - 0rem); }
  .col-sm-3 {
    flex-basis: calc(100% / 12 * 3 - 0rem); }
  .col-sm-4 {
    flex-basis: calc(100% / 12 * 4 - 0rem); }
  .col-sm-5 {
    flex-basis: calc(100% / 12 * 5 - 0rem); }
  .col-sm-6 {
    flex-basis: calc(100% / 12 * 6 - 0rem); }
  .col-sm-7 {
    flex-basis: calc(100% / 12 * 7 - 0rem); }
  .col-sm-8 {
    flex-basis: calc(100% / 12 * 8 - 0rem); }
  .col-sm-9 {
    flex-basis: calc(100% / 12 * 9 - 0rem); }
  .col-sm-10 {
    flex-basis: calc(100% / 12 * 10 - 0rem); }
  .col-sm-11 {
    flex-basis: calc(100% / 12 * 11 - 0rem); }
  .col-sm-12 {
    flex-basis: calc(100% / 12 * 12 - 0rem); }
  .sm-hidden {
    display: none; } }

@media screen and (min-width: 750px) and (max-width: 1000px) {
  main section a {
    margin-left: 1rem; }
  header nav a {
    flex-basis: calc(100% / 5);
    margin-left: 0rem; }
  .col-md-1 {
    flex-basis: calc(100% / 12 * 1 - 1rem); }
  .col-md-2 {
    flex-basis: calc(100% / 12 * 2 - 1rem); }
  .col-md-3 {
    flex-basis: calc(100% / 12 * 3 - 1rem); }
  .col-md-4 {
    flex-basis: calc(100% / 12 * 4 - 1rem); }
  .col-md-5 {
    flex-basis: calc(100% / 12 * 5 - 1rem); }
  .col-md-6 {
    flex-basis: calc(100% / 12 * 6 - 1rem); }
  .col-md-7 {
    flex-basis: calc(100% / 12 * 7 - 1rem); }
  .col-md-8 {
    flex-basis: calc(100% / 12 * 8 - 1rem); }
  .col-md-9 {
    flex-basis: calc(100% / 12 * 9 - 1rem); }
  .col-md-10 {
    flex-basis: calc(100% / 12 * 10 - 1rem); }
  .col-md-11 {
    flex-basis: calc(100% / 12 * 11 - 1rem); }
  .col-md-12 {
    flex-basis: calc(100% / 12 * 12 - 1rem); }
  .md-hidden {
    display: none; } }

@media screen and (min-width: 1000px) and (max-width: 99999999px) {
  main section a {
    margin-left: 1rem; }
  header nav a {
    flex-basis: calc(100% / 5);
    margin-left: 0rem; }
  .col-lg-1 {
    flex-basis: calc(100% / 12 * 1 - 1rem); }
  .col-lg-2 {
    flex-basis: calc(100% / 12 * 2 - 1rem); }
  .col-lg-3 {
    flex-basis: calc(100% / 12 * 3 - 1rem); }
  .col-lg-4 {
    flex-basis: calc(100% / 12 * 4 - 1rem); }
  .col-lg-5 {
    flex-basis: calc(100% / 12 * 5 - 1rem); }
  .col-lg-6 {
    flex-basis: calc(100% / 12 * 6 - 1rem); }
  .col-lg-7 {
    flex-basis: calc(100% / 12 * 7 - 1rem); }
  .col-lg-8 {
    flex-basis: calc(100% / 12 * 8 - 1rem); }
  .col-lg-9 {
    flex-basis: calc(100% / 12 * 9 - 1rem); }
  .col-lg-10 {
    flex-basis: calc(100% / 12 * 10 - 1rem); }
  .col-lg-11 {
    flex-basis: calc(100% / 12 * 11 - 1rem); }
  .col-lg-12 {
    flex-basis: calc(100% / 12 * 12 - 1rem); }
  .lg-hidden {
    display: none; } }

/*Extend*/
.flex, .content {
  display: flex;
  flex-wrap: wrap;
  margin: auto; }

/*Style*/
* {
  box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0; }
  body a {
    text-decoration: none; }

.content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }

header .alignContent {
  text-align: end; }

header div .logo {
  width: 100%;
  height: auto; }

header .search {
  align-self: center;
  width: 20px;
  height: auto; }
  header .search .btnSearch {
    background-color: #AAD5DF; }

header hr {
  margin-bottom: 1rem; }

header nav a {
  text-transform: uppercase; }

#home .background {
  width: 100%;
  height: auto;
  margin-top: -1rem; }

#home main .content {
  margin: auto;
  justify-content: space-around; }
  #home main .content img {
    width: 100%;
    height: auto; }
  #home main .content ul {
    background-image: url("../img/home_page_corner.png");
    width: 50%;
    height: auto;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom; }
    #home main .content ul li {
      list-style-type: none; }

.breadcrumb {
  background: #AAD5DF;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 1rem; }
  .breadcrumb p {
    color: #FFFFFF;
    margin-left: 0; }
    .breadcrumb p a {
      color: #000000; }

.mainNav {
  text-align: center;
  margin: auto; }
  .mainNav a {
    padding-bottom: 10px;
    text-decoration: none;
    color: #000000;
    border-bottom: transparent solid 1px; }

.sm-hidden a:hover {
  border-bottom: 1px solid #000000; }

.leftNav {
  margin-right: 1rem; }
  .leftNav p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 10px;
    text-transform: uppercase; }
    .leftNav p:hover {
      background-color: #AAD5DF; }
    .leftNav p a {
      color: #000000; }
      .leftNav p a:hover {
        background-color: #AAD5DF; }
  .leftNav hr {
    color: #AAD5DF;
    margin-bottom: 0; }
  .leftNav ul {
    list-style-type: none; }
    .leftNav ul li {
      margin-top: 0;
      padding-left: 25px; }
      .leftNav ul li a {
        color: #000000; }
        .leftNav ul li a:hover {
          background-color: #AAD5DF; }

#library main .content {
  justify-content: space-between; }
  #library main .content .article {
    margin-bottom: 1rem;
    border: 1px solid #DCDCDC; }
    #library main .content .article img {
      width: 100%;
      height: auto; }
    #library main .content .article .title {
      color: #AAD5DF;
      font-size: 1.5rem;
      margin: 5px;
      margin-bottom: 15px; }
    #library main .content .article .description {
      margin: 5px;
      color: #000000; }
    #library main .content .article .priceContainer {
      color: #FFFFFF; }

#library main a:hover {
  box-shadow: 2px 2px 15px #C0C0C0; }
  #library main a:hover .priceContainer {
    width: 100%;
    transition: all 1s linear 0s;
    transform: scaleX(1);
    background-color: #AAD5DF;
    text-align: right; }

#library main a .priceContainer {
  transition: all 1s linear 0s;
  width: 0; }
  #library main a .priceContainer p {
    bottom: 0; }

#library section:nth-of-type(2) div .priceContainer {
  text-align: right; }
  #library section:nth-of-type(2) div .priceContainer p {
    background: #AAD5DF; }

#detail img {
  width: 30%;
  height: auto; }
  #detail img:first-of-type {
    width: 100%; }

#contact main section {
  justify-content: space-between; }
  #contact main section div {
    margin-bottom: 1rem;
    background-color: #AAD5DF;
    padding-bottom: 15px; }
    #contact main section div h2 {
      background-color: #c8d8de; }
