@import "grid";
@import "partials/colors";

$tempVal: 0px;
@each $key, $value in $view {
  @media screen and (min-width: $tempVal) and (max-width: $value) {
    @if ($key==sm) {
      header {
        .alignContent {
          display: flex;
          justify-content: center;
        }
      }
      //Catalogue

      a {
        .priceContainer {
          text-align: right;
          p {
            background: $lightblue;
          }
        }
      }
      //image de coin cachée en vue sm
      #home {
        main {
          section {
            section:first-of-type {
              order: 2;
            }
            section:nth-of-type(2) {
              order: 1;
              div:last-of-type {
                background-image: none;

              }
            }
          }

        }
      }
    } @else {
      header {
        .alignContent {
          display: flex;
          justify-content: flex-end;
        }
      }
      //library
      //animation vue md et lg
      #library {
        section {
          a {
            &:hover {
              box-shadow: 2px 2px 15px $silver;
              .priceContainer {
                width: 100%;
                transition: all 1s linear 0s;
                transform: scaleX(1);
                background-color: $lightblue;

              }
            }
            .description {
              height: rem-calc(130);
            }
            .priceContainer {
              transition: all 1s linear 0s;
              width: 0;
            }
          }
        }
      }
      //Animation navigation principale
      header {
        .mainNav {
          a {
            &:hover {
              border-bottom: 1px solid $black;
            }
          }
        }
      }

      //Animation navigation catalogue
      main {
        .leftNav {
          ul {
            li {
                &:hover {
                  background-color: $lightblue;
              }
            }
            ul {
              li {
                &:hover{
                  background-color: $white;
                }
                a {
                  &:hover {
                    background-color: $lightblue;
                  }
                }
              }
            }

          }
        }
      }

      //image coin HOME
      #home {
        main {
          section:nth-of-type(2) {
            div:last-of-type {
              background-image: url("../img/home_page_corner.png");

            }
          }
        }
      }
    }
  }
  $tempVal: $value;
}

