@import "partials/colors";

#library {
  .priceContainer{
    color: $white;
  }
  main {
    .content {
      a {
        //flex-basis: calc(100% / 3 * 1 - 1rem);
        //margin-left: 1rem;
        margin-bottom: 1rem;
        border: 1px solid $lightgrey;

      &:hover {
        box-shadow: 2px 2px 15px $silver;
        .priceContainer {
          width: 100%;
          transition: all 1s linear 0s;
          transform: scaleX(1);
          background-color: lightblue;
          text-align: right;
        }
      }


    }
    a:first-child {
      margin-left: 0;
    }
    a:nth-child(4n) {
      margin-left: 0;
    }
  }

  }
  .article {
    img {
      width: 100%;
      height: auto;
    }
    .title {
      color: $lightblue;
      font-size: 1.5rem;
      margin: 5px;
      margin-bottom: 15px;
    }
    .description {
      margin: 5px;
      color: $black;
    }
    .priceContainer {
      //color: $white;
      transition: all 1s linear 0s;
      //text-align: left;
      width: 0;

    }

  }
}
