@import "partials/colors";
//Commun à toutes les vues
#library {
  main {
    .content {
      justify-content: space-between;
      .article {
        margin-bottom: 1rem;
        border: 1px solid $lightgrey;
        img {
          width: 100%;
          height: auto;
        }
        .title {
          color: $lightblue;
          font-size: 1.5rem;
          margin: 5px;
          margin-bottom: 15px;
        }
        .description {
          margin: 5px;
          color: $black;
        }
        .priceContainer {
          color: $white;
        }
      }
    }
    //animation vue md et lg
    a {
      &:hover {
        box-shadow: 2px 2px 15px $silver;
        .priceContainer {
          width: 100%;
          transition: all 1s linear 0s;
          transform: scaleX(1);
          background-color: $lightblue;
          text-align: right;
        }
      }
      .priceContainer {
        transition: all 1s linear 0s;
        width: 0;
      }
    }
  }
  //Vue sm, pas d'animation
  section:nth-of-type(2) {
    div {
      .priceContainer {
        text-align: right;
        p {
          background: $lightblue;
        }
      }
    }
  }
}
