@import "partials/colors";
@import "partials/functions";

.breadcrumb {
  background: $lightblue;
  text-transform: uppercase;
  margin-bottom: rem-calc(16);
  margin-top: rem-calc(16);
  p {
    color: $white;
    margin-left: 0;
    a {
      color: $black;

    }
    a:last-of-type {
       color: $darkgrey;
     }
  }
}