@import "partials/colors";
#contact{
  main {
    section{
      div{
        background-color: $lightblue;
        padding-bottom: 15px;
          h2{
            background-color: $lighterblue ;
          }
          p{

          }
      }
    }
  }
}