@import "partials/functions";
$numCol: 12;
$gutter: 0;
$itemMainNav: 5;

$view: (
        sm : 750px,
        md : 1000px,
        lg : 99999999px
);

$tempVal: 0px;

@each $key, $value in $view {
  @media screen and (min-width: $tempVal) and (max-width: $value) {
    @if ($key==sm) {
      //Pas besoin de gouttière, chaque élément va passer à la ligne
      $gutter: rem-calc(0);
      .content{
        flex-direction: column;
      }

      header {
        nav {
          a {
            //items un en dessous de l'autre.
            flex-basis: 100%;
          }
        }
      }

    } @else {
      $gutter: rem-calc(16);
      .content {
        flex-direction: row;
      }
        //Besoin de marge entre les vignettes
      main {
        section {
          a {
            margin-left: rem-calc(16);
          }
        }
      }
      //Pas d'espacement entre les items du menu
      header {
        nav {
          a {
            //calc != pour le menu principal => nbr item = 5
            flex-basis: calc(100% / #{$itemMainNav});
            margin-left: rem-calc(0);
          }
        }
      }

    }

    @for $i from 1 through $numCol {
      .col-#{$key}-#{$i} {
        flex-basis: calc(100% / #{$numCol} *
        #{$i} - #{$gutter});
      }
    }

    .#{$key}-hidden {
      display: none;
    }

  }

  $tempVal: $value;
}

