#home {
  .background {
    width: 100%;
    height: auto;
    margin-top: -1rem;
  }
  main {
    .content {
      margin: auto;
      justify-content: space-around;
      img {
        width: 100%;
        height: auto;
      }
      ul {
        background-image: url("../img/home_page_corner.png");
        width: 50%;
        height: auto;
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: bottom;
        li {
          list-style-type: none;

        }
      }

    }
  }
}