@import "partials/colors";
//Commun à toutes les vues
.mainNav {
  text-align: center;
  margin: auto;
  a {
    padding-bottom: 10px;
    text-decoration: none;
    color: $black;
    border-bottom: transparent solid 1px;
  }
}
//Animation uniquement en vue lg et md
.sm-hidden {
  a {
    &:hover {
      border-bottom: 1px solid $black;
    }
  }
}

//Commun à toues les vues
.leftNav {
  margin-right: 1rem;
  p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 10px;
    text-transform: uppercase;
    &:hover {
      background-color: $lightblue;
    }
    a {
      color: $black;
      &:hover {
        background-color: $lightblue;
      }
    }
  }
  hr {
    color: $lightblue;
    margin-bottom: 0;
  }
  ul {
    list-style-type: none;

    li {
      margin-top: 0;
      padding-left: 25px;
      a {

        color: $black;

        &:hover {
          background-color: $lightblue;
        }
      }
    }
  }
}