@import "partials/colors";
$itemMainNav : 5;

.mainNav{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;


  a{
    padding-bottom: 10px;
    text-decoration: none;
    color: $black;
    flex-basis: calc(100% / #{$itemMainNav});
    border-bottom: transparent solid 1px;
    &:hover{
      border-bottom: 1px solid $black;
    }
  }
}

.leftNav{
  margin-right: 1rem;
  p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 10px;
    text-transform: uppercase;
    &:hover{
      background-color: $lightblue;
    }
    a{
      color: $black;
      &:hover{
        background-color: $lightblue;
      }
    }
  }
  hr{
    color: $lightblue;
    margin-bottom: 0;
  }
  ul{
    list-style-type: none ;

    li{
      margin-top: 0;
      padding-left: 25px;
      a{

        color: $black;

        &:hover{
          background-color: $lightblue;
        }
      }
    }
  }
}