@import "partials/colors.scss";
@import "partials/functions";

//Commun à toutes les pages

/*Extend*/
.flex {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

/*Style*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: $base-font-size;
  color: $black;
  background-color: $white;
  margin: 0;
  padding: 0;

  h1, h2, h3{
    font-weight: normal;
    font-family: Open , sans-serif;
  }
  a {
    text-decoration: none;
  }
}

.content {
  @extend .flex;
  max-width: rem-calc(1024);
  margin-left: auto;
  margin-right: auto;
}

header {
  div {
    .logo {
      width: 100%;
      height: auto;
    }
  }
  .search {
    align-self: center;
    width: rem-calc(20);
    height: auto;
    input{
      border-radius: rem-calc(3);
      padding: rem-calc(8) rem-calc(12);
      font-size: rem-calc(12);
    }
    input[type=text]{
      border: 1px solid $lightgrey;
    }
    .btnSearch {
      background-color: $lightblue;
      border:none;
      color: $white;
      margin-left:rem-calc(-8);
    }
  }
  hr{
    margin-bottom: rem-calc(16);
  }
  nav{
    a{
      text-transform: uppercase;
    }
  }
}






