@import "partials/colors.scss";
@import "partials/functions";

//Commun à toutes les pages

/*Extend*/
.flex {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

/*Style*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: $base-font-size;
  color: $black;
  background-color: $white;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
}

.content {
  @extend .flex;
  max-width: rem-calc(1024);
  margin-left: auto;
  margin-right: auto;
}

header {
  .alignContent {
    text-align: end;
  }
  div {
    .logo {
      width: 100%;
      height: auto;
    }
  }
  .search {
    align-self: center;
    width: rem-calc(20);
    height: auto;
    .btnSearch {
      background-color: $lightblue;
    }
  }
  hr{
    margin-bottom: rem-calc(16);
  }
  nav{
    a{
      text-transform: uppercase;
    }
  }
}






